<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacle=1.0">
    <title><%= title %></title>
</head>

<body>
    <h1><%= message %></h1>
    <p>This is a dynamic pages rendered with EJS and Express.js</p>
</body>

</html>

