<!DOCTYPE html>
<html>
    <head>
        <title>DevVault</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
        
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/notes">Notes</a>
            <a href="/tasks">Tasks</a>
            <a href="/dashboard">Dashboard</a>
        </nav>
        <%- body %>
    </body>     
</html>
