body{
    font-family: sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #16213e;
    padding: 15px;
}

nav a{
    color:#ffffff;
    text-align: none;
    margin-right: 20px;
}